name: Build Geode Mod

on:
    workflow_dispatch:
    push:
        branches:
            - "**"

permissions:
    contents: write

jobs:
    build:
        strategy:
            fail-fast: false

            matrix:
                config:
                    - name: Windows
                      os: windows-latest
                      build-type: RelWithDebInfo

                    - name: macOS
                      os: macos-latest

                    - name: iOS
                      os: macos-latest
                      target: iOS

                    - name: Android32
                      os: ubuntu-latest
                      target: Android32

                    - name: Android64
                      os: ubuntu-latest
                      target: Android64

        name: ${{ matrix.config.name }}
        runs-on: ${{ matrix.config.os }}

        steps:
            - uses: actions/checkout@v4

            - name: Build the mod
              uses: geode-sdk/build-geode-mod@main
              with:
                  combine: true
                  sdk: nightly
                  export-pdb: true
                  target: ${{ matrix.config.target }}
                  build-config: ${{ matrix.config.build-type || 'Release'}}

    package:
        name: Package Builds
        runs-on: ubuntu-latest
        needs: ["build"]

        steps:
            - uses: geode-sdk/build-geode-mod/combine@main
              id: build

            - uses: actions/upload-artifact@v4
              with:
                  name: Build Output
                  path: ${{ steps.build.outputs.build-output }}

    nightly:
        name: Nightly Release
        runs-on: ubuntu-latest
        needs: ["package"]

        steps:
            - uses: actions/download-artifact@v4
              with:
                  path: ./artifacts/

            - name: Publish Nightly release
              uses: andelf/nightly-release@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: nightly
                  name: "Development Release"
                  body: |
                      Development release for commit ${{ github.sha }}.
                  files: |
                      ./artifacts/Build Output/*.geode
                      ./artifacts/Build Output/*.pdb

            - name: Check for webhook URL
              id: check
              if: ${{ github.ref_name == github.event.repository.default_branch }}
              run: echo "has-nightly-webhook=${{ secrets.NIGHTLY_WEBHOOK != '' }}" >> $GITHUB_OUTPUT

            - name: Send Discord webhook
              if: ${{ steps.check.outputs.has-nightly-webhook == 'true' }}
              uses: prevter/discord-webhook@main
              with:
                  webhook-url: ${{ secrets.NIGHTLY_WEBHOOK }}
                  files: ./artifacts/Build Output/*.geode
                  embed-title: "[${{ github.repository }}] Nightly Release"
                  embed-description: "Development release for commit **[`${{ github.sha }}`](${{ github.event.repository.html_url}}/commit/${{ github.sha }})**."
                  embed-color: "#d29922"
                  embed-url: ${{ github.event.repository.html_url }}/releases/tag/nightly
                  embed-author: ${{ github.actor }}
                  embed-author-icon: "https://avatars.githubusercontent.com/u/${{ github.actor_id }}?v=4"
                  embed-thumbnail: "https://raw.githubusercontent.com/${{ github.repository }}/refs/heads/${{ github.event.repository.default_branch }}/logo.png"
                  embed-timestamp: "now"