name: Release Geode Mod

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v4

            - name: Check for Discord webhook URL
              id: check-discord
              run: |
                  if [ -n "${{ secrets.RELEASE_WEBHOOK }}" ]; then
                  echo "webhook-url=${{ secrets.RELEASE_WEBHOOK }}" >> $GITHUB_OUTPUT
                  echo "has-webhook=true" >> $GITHUB_OUTPUT
                  echo "Using RELEASE_WEBHOOK"
                  elif [ -n "${{ secrets.NIGHTLY_WEBHOOK }}" ]; then
                  echo "webhook-url=${{ secrets.NIGHTLY_WEBHOOK }}" >> $GITHUB_OUTPUT
                  echo "has-webhook=true" >> $GITHUB_OUTPUT
                  echo "Using NIGHTLY_WEBHOOK"
                  else
                  echo "has-webhook=false" >> $GITHUB_OUTPUT
                  echo "No webhook configured"
                  fi

            - name: Publish release
              id: publish-release
              uses: BlueWitherer/release-geode-mod@main
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  workflow: build.yml

            - name: Send Discord webhook
              if: ${{ steps.check-discord.outputs.has-webhook == 'true' }}
              uses: BlueWitherer/geode-mod-webhook@main
              with:
                  webhook-url: ${{ steps.check-discord.outputs.webhook-url }}
                  changelog: ${{ steps.publish-release.outputs.changelog }}

    publish:
        name: Publish to Geode
        runs-on: ubuntu-latest
        needs: ["release"]

        steps:
            - uses: actions/checkout@v4

            - name: Publish to Geode
              uses: BlueWitherer/release-geode-mod/publish@main
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
